<!DOCTYPE html>
<html>
<head>
<title>Report</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">MediTravel</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>USER</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="/settings" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard"></i>  Dashboard</a>
    <a href="/healthcheck" class="w3-bar-item w3-button w3-padding"><i class="fa fa-medkit"></i>  Health Check</a>
    <a href="/search" class="w3-bar-item w3-button w3-padding"><i class="fa fa-search"></i>  Search</a>
    <a href="/settings" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog"></i>  Settings</a><br><br>
  </div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h3><b><i class="fa fa-file-text"></i> Report</b></h3>
  </header>
  <br>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h4>Australia, Sydney</h4>
        <h5>COVID-19</h5>
      </div>
      <div class="w3-twothird">
        <h5>Recommended Travel Information</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-plane w3-text-blue w3-large"></i></td>
            <td>Travel Restrictions</td>
            <td>All international passengers travelling to Australia must comply with Australian Government entry requirements.
                There are no longer any restrictions on interstate travel to NSW, however there are other rules in place that you must follow while in NSW.</td>
          </tr>
          <tr>
            <td><i class="fa fa-home w3-text-green w3-large"></i></td>
            <td>Quarantine</td>
            <td>1. go straight to your home or accommodation
                2. take a COVID-19 rapid antigen test
                3. self-isolate until you get a negative test result
                4. not visit high risk places for at least 7 days after arrival</td>
          </tr>
          <tr>
            <td><i class="fa fa-medkit w3-text-red w3-large"></i></td>
            <td>Vaccines</td>
            <td>A COVID‑19 vaccine is a vaccine intended to provide acquired immunity against severe acute respiratory syndrome coronavirus 2, the virus that causes coronavirus disease 2019. 
                <b> Recommended Vaccines: Moderna, Pfizer, AstraZeneca </b> </td>
          </tr>
          <tr>
            <td><i class="fa fa-stethoscope w3-text-blue w3-large"></i></td>
            <td>Medication</td>
            <td>While there is no cure for COVID-19, several medicines have been developed that are proving to be effective treatments for people with the illness, although are not intended to be used as a substitute for vaccination.
                <b> Approved Medication: Remdesivir, Lagevrio, Paxlovid</b>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>






  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4></h4>
        <p></p>
  </footer>

  <!-- End page content -->
</div>

</body>
</html>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>